* {
    width: 100%;
    
}

.bg{
    background-color:slategray;
    text-align: center;
    padding: 15px;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    font-family: 'Times New Roman', Times, serif;
    

}
.bg2{
    background-color: azure;
    text-align: justify;
    
    width: 550px;
    margin-left: 500px;
    padding: 30px;
}
.pad{

    padding: 10px;
    margin: 10px 0 12px 0;
}

.btn{
    background-color: blue;
    padding-left: 20px;
    padding-right: 20px;

}